body {
    background-color: #ffb6c1;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 16px;
}
bold { 
    font-weight: bold;
}
label {
    display: inline-block;
    margin-left: 10px;
    min-width: 110px;
}

input[name="Weekday"] {
    position: relative;
    left: 50px;
}

label[name="Weekday"] {
    position: relative;
    left: 50px;
}

label[name="WeekdayHeader"] {
    font-size: 20px;
    font-weight: bold;
}